@import url("./components/Home/home.css"); 
@import url("./components/Login/login.css"); 
@import url("./components/ItemsUsers//ItemsUsers.css"); 
@import url("./components/Profile/profile.css"); 
@import url("./utils/Header/header.css"); 

:root{
    --background: #FFFFFF;
    --backgroundSearch: #F3F6FB;
    --borderRightGray: #F3F6FB;
    --backgroungColor1: #03435F;
    --backgroungColor2: #18b0ec;
    --backgroundGradientContent: linear-gradient(90deg, #456ee8 0%, #18b0ec 100%);
    --backgorundImage: url('./assets/images/waves.svg');
}

.App{
    position: relative !important;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    color: var(--background);
    font-size: 16px;
}